<div class="contact-container">
    <div ui-header>
        <ui-logo></ui-logo>
        <ui-menu-button ng-click="contact.showMenuAside()"></ui-menu-button>
    </div>

    <div class="contact-content-container">
        <div class="description">
            <div class="description-item-01">Department of Architecture</div>
            <div class="description-item-02">Tel: +86 18896997033</div>
            <span class="description-item-03">&nbsp;&nbsp;WeChat: little fariy&nbsp;&nbsp;</span>
            <div class="description-item-04">Email: littleFariy@fariy.com</div>
        </div>
        <div class="picture-item">
            <img ng-src="{{contact.getPicture01()}}">
        </div>

    </div>
</div>

<ui-aside show="contact.isShowMenuAside" on-close="contact.onClose()"></ui-aside>
