<div class="main-container">

    <div class="menu-button" ng-click="list.showMenuAside()">
        <span></span>
    </div>

    <div class="logo">
        <span class="emo-logo">E&nbsp;M&nbsp;O/</span><span class="architect-logo">ARCHITECT</span>
    </div>

    <div class="emo-center">
        EMO
    </div>

    <div class="main-picture-container">
        <img ng-src="{{list.getMainPicture()}}">
    </div>

    <!--<div class="project-item-container">-->
        <!--<div ng-repeat="picture in list.pictures" class="{{list.getItemClass(picture)}}">-->
            <!--<img ng-src="{{picture.url}}" alt="{{picture.name}}">-->
        <!--</div>-->
    <!--</div>-->

    <div class="main-description">
        <p>Ｙou can call me to be a rendering, a visualization, a person who doesn't consider the norms, and it doesn't matter. I just want to express the essential things. They contain my memories, emotions, and nothing more.
        I don't think that someone who worships others doing things can do his own thing. I don't think that people measured by money can succeed, let alone people who don't have the heart can do something that touches others.
        </p>
    </div>

    <div class="main-picture-container">
        <img ng-src="{{list.getMainPicture()}}">
    </div>

    <div class="main-description">
        <p>As I began to love myself I found that anguish and emotional suffering are only warning signs that I was living against my own truth.
        Today, I know, this is AUTHENTICITY.
        As I began to love myself I understood how much it can offend somebody as I try to force my desires on this person, even though I knew the time was not right and the person was not ready for it, and even though this person was me.
        Today I call it RESPECT.
        </p>
    </div>

    <div class="main-picture-container">
        <img ng-src="{{list.getMainPicture()}}">
    </div>
</div>

<ui-aside ng-show="list.isShowMenuAside" class="ui-aside-container" on-close="list.onClose()">
</ui-aside>
