<div class="main-container">

    <div class="menu-button" ng-click="list.showMenuAside()">
        <span></span>
    </div>

    <div class="main-picture-container">
        <img ng-src="{{list.getMainPicture()}}">
    </div>

    <div class="project-item-container">
        <div ng-repeat="picture in list.pictures" class="{{list.getItemClass(picture)}}">
            <img ng-src="{{picture.url}}" alt="{{picture.name}}">
        </div>
    </div>
</div>

<ui-aside ng-if="list.isShowMenuAside" class="ui-aside-container" on-close="">

</ui-aside>
