<div class="images-container">
    <ui-logo></ui-logo>
    <div class="menu-button" ng-click="images.showMenuAside()">
        <span></span>
    </div>
    <div class="images-picture-container">
        <img ng-src="{{images.getMainPicture()}}">
    </div>

    <div class="emo-center">
        EMO
    </div>

    <div class="project-item-container">
        <div ng-repeat="picture in images.pictures" class="{{images.getItemClass(picture)}}">
            <img ng-src="{{picture.url}}" alt="{{picture.name}}" ng-click="images.showImageModal(picture)">
            <!-- The Modal -->
            <div class="modal">
                <span class="close" ng-click="images.hideImageModal()">&times;</span>
                <img class="modal-content">
                <div class="caption"></div>
            </div>
        </div>
    </div>
</div>

<ui-aside show="images.isShowMenuAside" on-close="images.onClose()"></ui-aside>
