<div class="projects-container">
    <div ui-header>
        <ui-logo></ui-logo>
        <div ui-search-box
             model="projects.params.title"
             placeholder="filter project by title"
             on-delay="projects.reload()"
             on-clear="projects.clearQuery()"
             active="true"
             noautoshrink
             class="search-box"></div>
        <ui-menu-button ng-click="projects.showMenuAside()"></ui-menu-button>
    </div>

    <div class="projects-description">
        <div>IMAGES</div>
        <div>OF THE FUTURE</div>
    </div>

    <div class="project-item-container">
        <div ng-repeat="project in projects.list" class="project-item" ng-click="projects.showDetail(project)">
            <img ng-src="{{project.url}}" alt="{{project.name}}">
            <div class="project-description">
                <div class="project-title">{{project.title}}</div>
                <div class="project-introduction">{{project.description}}</div>
            </div>
        </div>
    </div>
</div>

<ui-aside show="projects.isShowMenuAside" on-close="projects.onClose()"></ui-aside>
