@unit-triple: 33px;
@unit: 22px;
@unit-half: 11px;

.ui-aside {
  position: fixed;
  left: 0px;
  transition: 0.4s right cubic-bezier(.2, .9, .25, 1);
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: white;
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, .3);
  border-right: 1px solid #aaa;
  &.visible {
    left: 0;
    overflow-y: auto;
  }

  .ui-aside-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: @unit-triple;
    padding: @unit;
    color: white;
  }

  .ui-aside-close {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    transition: transform .25s ease-in-out;

    &:hover {
      transform: rotate(180deg);
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 32px;
      height: 0;
      border-top: 1px solid rgba(0,0,0,0.5);
      transform: rotate(45deg);
      transform-origin: center;
    }
    &:after {
      content: "";
      position: absolute;
      display: block;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 32px;
      height: 0;
      border-top: 1px solid rgba(0,0,0,0.5);
      transform: rotate(-45deg);
      transform-origin: center;
    }
  }

  .ui-aside-panel {
    position: absolute;
    top: @unit-triple;
    bottom: 0;
    left: 0;
    right: 0;
    padding: @unit-half @unit-half 0;
    overflow-x: hidden;

    .ui-aside-panel-content {
      padding-left: @unit-half;
      padding-right: @unit-half;
      padding-top: @unit;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: @unit-half * 11;
      overflow: auto;

      &.ui-aside-panel-footer-1-btn {
        bottom: @unit-half * 6;
      }

      &.ui-aside-panel-footer-3-btn {
        bottom: @unit-half * 15;
      }
    }

    .ui-aside-panel-footer {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      max-height: @unit-half * 11;
      padding: @unit-half @unit-half 0px @unit-half;

      .ui-btn {
        margin-bottom: @unit-half;
      }
    }
  }
}