<div class="ui-aside">
    <header class="ui-aside-header">
        <div class="ui-aside-close" ng-click="vm.onClose()"></div>
    </header>
    <div class="ui-aside-panel">
        <div class="ui-aside-item" ng-click="vm.redirectToPage('home')">Home</div>
        <div class="ui-aside-item" ng-click="vm.redirectToPage('project')">Project</div>
        <div class="ui-aside-item" ng-click="vm.redirectToPage('images')">Images</div>
        <div class="ui-aside-item" ng-click="vm.redirectToPage('contact')">Contact</div>
    </div>
</div>