<div class="ui-aside"  ng-class="{'aside-open': vm.show, 'aside-close': !vm.show}">
    <header class="ui-aside-header">
        <div class="ui-aside-close" ng-click="vm.onClose()"></div>
    </header>
    <div class="ui-aside-panel">
        <div class="ui-aside-item" ng-click="vm.redirectToPage('home')">Home</div>
        <div class="ui-aside-item" ng-click="vm.redirectToPage('projects')">Project</div>
        <div class="ui-aside-item" ng-click="vm.redirectToPage('images')">Images</div>
        <div class="ui-aside-item" ng-click="vm.redirectToPage('contact')">Contact</div>
    </div>
</div>