@unit-triple: 33px;
@unit: 22px;
@unit-half: 11px;

.ui-aside {
  position: fixed;
  left: 0px;
  -webkit-transition: 1s cubic-bezier(.2, .9, .25, 1);
  -moz-transition: 1s cubic-bezier(.2, .9, .25, 1);
  -o-transition: 1s cubic-bezier(.2, .9, .25, 1);
  transition: left 1s cubic-bezier(.2, .9, .25, 1);
  top: 0;
  bottom: 0;
  width: 300px;
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, .3);

  &.visible {
    left: 0;
    overflow-y: auto;
  }

  .ui-aside-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: @unit-triple;
    padding: @unit;
    color: white;
  }

  .ui-aside-close {
    display: block;
    position: fixed;
    left: 220px;
    top: 30px;
    width: 50px;
    height: 50px;
    transition: transform .25s ease-in-out;

    &:hover {
      transform: rotate(180deg);
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 0;
      border-top: 3px solid rgba(0,0,0,0.5);
      transform: rotate(45deg);
      transform-origin: center;
    }
    &:after {
      content: "";
      position: absolute;
      display: block;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 0;
      border-top: 3px solid rgba(0,0,0,0.5);
      transform: rotate(-45deg);
      transform-origin: center;
    }
  }

  .ui-aside-panel {
    position: absolute;
    top: 85px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: @unit-half @unit-half 0;
    overflow-x: hidden;
    font-size: 20px;

    .ui-aside-item {
      margin: 55px 120px 40px 108px;
    }
  }
}