<div class="projects-container">

    <div class="menu-button" ng-click="projects.showMenuAside()">
        <span></span>
    </div>

    <div class="logo">
        <span class="emo-logo">E&nbsp;M&nbsp;O/</span><span class="architect-logo">ARCHITECT</span>
    </div>


    <div class="projects-description">
        <div>IMAGES</div>
        <div>OF THE FUTURE</div>
    </div>

    <div class="project-item-container">
        <div ng-repeat="picture in projects.list" class="project-item">
            <img ng-src="{{picture.url}}" alt="{{picture.name}}">
            <div class="project-description">
                <div class="project-title">{{picture.title}}</div>
                <div class="project-introduction">{{picture.description}}</div>
            </div>
        </div>
    </div>
</div>

<ui-aside ng-show="projects.isShowMenuAside" class="ui-aside-container" on-close="projects.onClose()">
</ui-aside>
